@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ddd;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #252b48;
  background-color: #5b9a8b;
  padding: 10px;
}
